@using OnlineLibrary.Infrastructure.Data
@inject ApplicationDbContext Db

@{
    var roleIdStr = Context.Session.GetString("RoleId");
    string roleName = "";

    if (!string.IsNullOrEmpty(roleIdStr))
    {
        roleName = Db.Roles
            .Where(r => r.RoleId == Guid.Parse(roleIdStr))
            .Select(r => r.RoleName)
            .FirstOrDefault();
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookNest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineLibrary.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom-pages.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @Html.Partial("_TopNavbar")

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    @Html.Partial("_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- === ADD CHART.JS LIBRARY === -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
