<div class="p-3">
    <h5 class="mb-4">📚 Librarian</h5>

    <ul class="nav flex-column gap-2">

        <li>
            <a asp-controller="Librarian" asp-action="Dashboard" class="nav-link text-white">
                Dashboard
            </a>
        </li>

        <li>
            <a asp-controller="Book" asp-action="Index" class="nav-link text-white">
                Books
            </a>
        </li>

        <li>
            <a asp-controller="Category" asp-action="Index" class="nav-link text-white">
                Categories
            </a>
        </li>

        <li>
            <a asp-controller="Librarian" asp-action="BorrowRequests" class="nav-link text-white">
                Borrow Requests
            </a>
        </li>

        <li>
            <a asp-controller="Librarian" asp-action="Returns" class="nav-link text-white">
                Return Management
            </a>
        </li>

        <li>
            <a asp-controller="Librarian" asp-action="Overdue" class="nav-link text-white">
                Overdue Books
            </a>
        </li>

        <li>
            <a asp-controller="Librarian" asp-action="Students" class="nav-link text-white">
                Student List
            </a>
        </li>

    </ul>
</div>
