<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Librarian Panel</title>

    <link rel="stylesheet"
          href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <div class="d-flex">
        <!-- SIDEBAR -->
        @await Html.PartialAsync("_LibrarianSidebar")

        <!-- PAGE CONTENT -->
        <div class="flex-grow-1 p-4">
            @RenderBody()
        </div>
    </div>

</body>
</html>
