<div class="bg-dark text-white p-3 h-100">
    <h5 class="mb-4">👤 My Account</h5>

    <ul class="nav flex-column gap-2">

        <li class="nav-item">
            <a class="nav-link text-white"
               asp-controller="Home"
               asp-action="Index">
                Home
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
               asp-controller="Student"
               asp-action="Dashboard">
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
               asp-controller="Student"
               asp-action="BrowseBooks">
                Browse Books
            </a>
        </li>

    </ul>
</div>
