@model OnlineLibrary.Web.Models.LoginViewModel

<div class="modal-header position-relative justify-content-center">
    <h5 class="modal-title">Sign In</h5>
    <button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }

    <form asp-controller="Account"
          asp-action="Login"
          method="post">

        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input asp-for="Password" type="password" class="form-control" />
        </div>

        <button class="btn text-white w-100" style="background-color: #e63946; border-color: #e63946;">
            Sign In
        </button>

        <p class="text-center mt-3">
            Don’t have an account?
            <a href="#" onclick="openRegisterModal(); return false;">Sign Up</a>
        </p>
    </form>

</div>
