@model OnlineLibrary.Web.Models.StudentRegisterViewModel

<div class="modal-header position-relative justify-content-center">
    <h5 class="modal-title">Create Account</h5>
    <button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }

    <form asp-controller="Account"
          asp-action="Register"
          method="post">

        <div class="mb-3">
            <label>Full Name</label>
            <input asp-for="FullName" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input asp-for="Password" type="password" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Phone</label>
            <input asp-for="Phone" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Address</label>
            <textarea asp-for="Address" class="form-control"></textarea>
        </div>

        <button class="btn text-white w-100" style="background-color: #e63946; border-color: #e63946;">
            Sign Up
        </button>

        <p class="text-center mt-3">
            Already have an account?
            <a href="#" onclick="openLoginModal(); return false;">Sign In</a>
        </p>
    </form>

</div>
